@keyframes clockwise  {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise  {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}