@media (max-width: 767px) {

  .title {
    margin: 0;
  }

  .subscribe {
    height: max-content;

    .content {
      flex-direction: column;
      h3 {
        font-size: 1.5em;
        color: white;
      }

      .form {
        margin: 15px 0;
      }
    }
  }

  .nav-container {
    position: relative;

    .user-auth {
      position: absolute;
      top: 12px;
      left: 15px;
      width: 150px;

      a {
        display: inline-block;
        margin: 0 15px;
      }
    }
  }

  h2, h3, h1, h4, h5, h6 {
    font-size: 24px;
  }

  .post {
    margin-top: 25px;
    .post-title {
      font-size: 20px;
    }
    .post-short-content {
      font-size: 14px;
    }
    .for-button {
      justify-content: center;
    }
    .post-data {
      width: 100%;
    }
  }

  .comments {
    .comment {
      padding: 20px;
      .info {
        .author {
          display: block;
        }
      }
    }
  }
}